.full-page {
  padding-bottom: 0;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  background-color: #747ba9;
}

.final-border {
  margin: 6px;
  background-color: whitesmoke;
  border: 6px solid #9a1b27;
}

.header {
  text-align: center;
  position: fixed;
  position: -webkit-sticky;
  color: black;
  font-size: 150%;
  font-family: Courier, monospace;
  top: 10px;
  margin-top: 50px;
  margin-left: 380px;
}

.history {
  min-height: 20px;
  padding: 19px;
  float: left;
}

.history-note {
  margin-left: 10px;
  font-size: 20px;
  max-width: 1500px;
}

.sidebar {
  padding: 5px;
  text-align: center;
  border: solid 3px #034b61;
  background-color: #19b3b1;
  position: fixed;
  position: -webkit-sticky;
  width: 95.9%;
  color: white;
}

#table {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  padding: 5px;
  text-align: center;
  position: relative;
  color: white;
}

.active {
  color: white;
}

.active1 {
  color: blue;
}

.dheader {
  font-size: 30px;
  text-align: left;
  caption-side: bottom;
}

.description {
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.left-img {
  margin-right: 15px;
  float: left;
  margin-top: 10px;
  border-radius: 0%;
}

.main-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 200px;
}

.right-img {
  float: right;
  margin-top: 10px;
  border-radius: 0%;
  padding-left: 0;
}
